
.cont-8 {
	behavior: url(js/PIE.htc);
	filter: alpha(opacity=30);
}
.cont-22 {
	behavior: url(js/PIE.htc);
	filter: alpha(opacity=15);
}
.cont-35 {
	behavior: url(js/PIE.htc);
	filter: alpha(opacity=15);
}
