@media print {
  .regular .reveal .backgrounds {
    height: 700px!important;
    width: 960px!important;
  }
}

.regular .reveal .slides{
  width: 960px;
}
.regular .reveal.overview .slides section {
  height: 700px;
  width: 960px;
}
.regular .reveal.overview .slides .backgrounds div.slide-background {
  height: 700px;
  width: 960px;
}

.regular .reveal .backgrounds{
    /*position: relative!important;
     border-radius:10px;*/
    box-sizing: border-box;
    height: 700px!important;
    width: 960px!important;
    left: 50%!important;
    top: 50%!important;
    bottom:auto;
    right:auto;
    transform:translate(-50%, -50%);
}

/*********************************  Wide layout ****************************/
@media print {
  .wide .reveal .backgrounds {
    height: 700px!important;
    width: 1244px!important;
  }
}

.wide .reveal .slides{
  width: 1244px;
}

.wide .reveal.overview .slides section {
  height: 700px;
  width: 1244px;
}
.wide .reveal.overview .slides .backgrounds div.slide-background {
  height: 700px;
  width: 1244px;
}

.wide .reveal .backgrounds{
    /*position: relative!important;
     border-radius:10px;*/
    box-sizing: border-box;
    height: 700px!important;
    width: 1244px!important;
    left: 50%!important;
    top: 50%!important;
    bottom:auto;
    right:auto;
    transform:translate(-50%, -50%);
}