/*
Author: Slideas
Description: Common palet style for themes based on the Slideas theme framework
License: MIT
Version: 1.0.0
*/
/*--------------------------------------------------------------
Table of Contents:
----------------------------------------------------------------
General & Typography
Iconfont
Visualizations
Billboard Graphs
Highlight.js 
--------------------------------------------------------------*/
/*********************************************************************/
/* Helper variables */
/*********************************************************************/
/* General & Typography */
.reveal .inverted a {
  color: #fff;
}
.reveal ol li::before {
  color: #7ccce5;
}
.reveal .inverted ol li::before {
  color: #fff;
}
a {
  color: #7ccce5;
}
.reveal blockquote:before {
  color: #7ccce5;
}
/*********************************************************************/
/* Icon font */
.reveal .material-icons {
  color: #7ccce5;
}
/*********************************************************************/
/* Visualizations */
.navigatorFrame {
  fill: #dbdbdb;
}
.addressBar {
  fill: #ffffff;
}
.trafficClose {
  fill: #e68756;
}
.trafficMinimize {
  fill: #e7b81b;
}
.trafficMaximize {
  fill: #a1ca30;
}
.device {
  fill: #8C96AF;
  fill-rule: evenodd;
}
.devicescreen {
  fill: #FFFFFF;
}
.reveal .deviceblock .insideblock {
  background-color: #fff;
}
.reveal .svg-graph .diagramblock .insideblock {
  border: 3px solid #7ccce5;
  background-color: #fff;
}
.bgshape {
  fill: none;
  stroke: #b7d968;
  stroke-width: 4;
  fill: #b7d968;
}
.block {
  fill: transparent;
}
.node text {
  font: 18px;
  fill: #fff;
  font-weight: bold;
}
.inverted .node text {
  fill: #7ccce5;
}
.reveal svg .link {
  fill: none;
  stroke: #7ccce5;
  stroke-width: 3px;
}
.inverted svg .link {
  stroke: #fff;
}
.level0 .box,
.level1 .box {
  stroke: #7ccce5;
  stroke-width: 4;
  fill: #7ccce5;
}
.inverted .level0 .box,
.inverted .level1 .box {
  stroke: #fff;
  fill: #fff;
}
.level2 .box {
  stroke: #7ccce5;
  stroke-width: 4;
  fill: #fff;
}
.inverted .level2 .box {
  stroke: #fff;
  fill: #7ccce5;
}
.level2 text,
.level3 text {
  fill: #7ccce5;
}
.inverted .level2 text,
.inverted .level3 text {
  fill: #fff;
}
.level3 .box {
  stroke: #fff;
  stroke-width: 4;
  fill: #fff;
}
.inverted .level3 .box {
  stroke: #7ccce5;
  fill: #7ccce5;
}
/*********************************************************************/
/* Billboard Graphs*/
.bb .domain,
.bb .tick line {
  stroke: #5E696C !important;
}
.inverted .bb .domain,
.bb .tick line {
  stroke: #fff !important;
}
.bb-legend-item text,
.bb-axis text {
  fill: #5E696C !important;
}
.inverted .bb-legend-item text,
.inverted .bb-axis text {
  fill: #fff !important;
}
.bb-bars-data0 path,
.bb-area-data0,
.bb-arc-data0 {
  fill: #7ccce5 !important;
  stroke: none !important;
}
.bb-lines-data0 path {
  stroke-width: 4px !important;
  stroke: #7ccce5 !important;
  fill: none;
}
.bb-circles-data0 circle {
  fill: #7ccce5 !important;
  stroke: #7ccce5 !important;
}
.bb-legend-item-data0 line {
  stroke: #7ccce5 !important;
}
/*  inverted background */
.inverted .bb-bars-data0 path,
.inverted .bb-area-data0,
.inverted .bb-arc-data0 {
  fill: #fff !important;
}
.inverted .bb-lines-data0 path {
  stroke: #fff !important;
}
.inverted .bb-circles-data0 circle {
  fill: #fff !important;
  stroke: #fff !important;
}
.inverted .bb-legend-item-data0 line {
  stroke: #fff !important;
}
.bb-bars-data1 path,
.bb-area-data1,
.bb-arc-data1 {
  fill: #b7d968 !important;
  stroke: none !important;
}
.bb-lines-data1 path {
  stroke-width: 4px !important;
  stroke: #b7d968 !important;
  fill: none;
}
.bb-circles-data1 circle {
  fill: #b7d968 !important;
  stroke: #b7d968 !important;
}
.bb-legend-item-data1 line {
  stroke: #b7d968 !important;
}
.bb-bars-data2 path,
.bb-area-data2,
.bb-arc-data2 {
  fill: #b576ad !important;
  stroke: none !important;
}
.bb-lines-data2 path {
  stroke-width: 4px !important;
  stroke: #b576ad !important;
  fill: none;
}
.bb-circles-data2 circle {
  fill: #b576ad !important;
  stroke: #b576ad !important;
}
.bb-legend-item-data2 line {
  stroke: #b576ad !important;
}
.bb-bars-data3 path,
.bb-area-data3,
.bb-arc-data3 {
  fill: #e04644 !important;
  stroke: none !important;
}
.bb-lines-data3 path {
  stroke-width: 4px !important;
  stroke: #e04644 !important;
  fill: none;
}
.bb-circles-data3 circle {
  fill: #e04644 !important;
  stroke: #e04644 !important;
}
.bb-legend-item-data3 line {
  stroke: #e04644 !important;
}
.bb-bars-data4 path,
.bb-area-data4,
.bb-arc-data4 {
  fill: #fde47f !important;
  stroke: none !important;
}
.bb-lines-data4 path {
  stroke-width: 4px !important;
  stroke: #fde47f !important;
  fill: none;
}
.bb-circles-data4 circle {
  fill: #fde47f !important;
  stroke: #fde47f !important;
}
.bb-legend-item-data4 line {
  stroke: #fde47f !important;
}
.bb-bars-data5 path,
.bb-area-data5,
.bb-arc-data5 {
  fill: #91beaa !important;
  stroke: none !important;
}
.bb-lines-data5 path {
  stroke-width: 4px !important;
  stroke: #91beaa !important;
  fill: none;
}
.bb-circles-data5 circle {
  fill: #91beaa !important;
  stroke: #91beaa !important;
}
.bb-legend-item-data5 line {
  stroke: #91beaa !important;
}
/**************************/
/* Highlight.js */
.hljs {
  font-family: monospace !important;
  padding: 0.5em;
  color: #5E696C;
}
.inverted .hljs {
  color: #fff;
}
.reveal .hljs-comment,
.reveal .hljs-quote {
  color: #999999;
  font-style: italic;
}
.reveal .inverted .hljs-comment,
.reveal .inverted .hljs-quote {
  color: #cccccc;
  font-style: italic;
}
.reveal .hljs-keyword,
.reveal .hljs-selector-tag,
.reveal .hljs-subst {
  color: #7ccce5;
  font-weight: bold;
}
.reveal .inverted .hljs-keyword,
.reveal .inverted .hljs-selector-tag,
.reveal .inverted .hljs-subst {
  color: #fff;
}
.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #b7d968;
}
.hljs-string,
.hljs-doctag {
  color: #b576ad;
}
.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #b576ad;
  font-weight: bold;
}
.hljs-subst {
  font-weight: normal;
}
.hljs-type,
.hljs-class .hljs-title {
  color: #e04644;
  font-weight: bold;
}
.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #e04644;
  font-weight: normal;
}
.hljs-regexp,
.hljs-link {
  color: #fde47f;
}
.hljs-symbol,
.hljs-bullet {
  color: #fde47f;
}
.hljs-built_in,
.hljs-builtin-name {
  color: #91beaa;
}
.hljs-meta {
  color: #666;
  font-weight: bold;
}
.hljs-deletion {
  background: #fdd;
}
.hljs-addition {
  background: #dfd;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.reveal h1,
.reveal h2 {
  color: #fff;
  background-color: #7ccce5;
}
.reveal h1 .material-icons,
.reveal h2 .material-icons {
  color: #fff;
}
.reveal .inverted h1 .material-icons,
.reveal .inverted h2 .material-icons {
  color: #7ccce5;
}
.reveal .inverted h1,
.reveal .inverted h2 {
  color: #fff;
}
.reveal .keypoint h2 {
  color: #fff;
}
.reveal strong {
  background-color: #fff07c;
}
.reveal .sectiontitle .innercontent,
.reveal .colored {
  background-color: #7ccce5;
}
.reveal .sectiontitle h1,
.reveal .sectiontitle h2 {
  color: #7ccce5;
  background-color: #fff;
}
.reveal .keypoint {
  background-color: #5E696C;
}
.reveal .backgrounds {
  background-color: #fff;
}
.reveal {
  color: #5E696C;
}
.reveal .inverted {
  color: #fff;
}
/* Lists */
.reveal ul {
  list-style-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="10px" height="14px"><title>Bullet</title><rect fill="%237ccce5"  width="10" height="10" rx="5" ry="5"/></svg>');
}
.reveal ul ul {
  list-style-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="10px" height="14px"><title>Bullet</title><rect fill="%237ccce5"  width="10" height="10" rx="0" ry="0"/></svg>');
}
.reveal ul ul ul {
  list-style-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="11px" height="14px"><title>Bullet</title><rect stroke="%237ccce5" fill-opacity="0.0" width="10" height="10" rx="5" ry="5"/></svg>');
}
.reveal .inverted ul {
  list-style-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="10px" height="14px"><title>Bullet</title><rect fill="%23fff"  width="10" height="10" rx="5" ry="5"/></svg>');
}
.reveal .inverted ul ul {
  list-style-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="10px" height="14px"><title>Bullet</title><rect fill="%23fff"  width="10" height="10" rx="0" ry="0"/></svg>');
}
.reveal .inverted ul ul ul {
  list-style-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="11px" height="14px"><title>Bullet</title><rect stroke="%23fff" fill-opacity="0.0" width="10" height="10" rx="5" ry="5"/></svg>');
}
.reveal ol li::before {
  color: #7ccce5;
}
.reveal .darkbg ol li::before {
  color: #fff;
}
.reveal ol li::before {
  color: #7ccce5;
}
.reveal .darkbg ol li::before {
  color: #fff;
}
a {
  color: #5E696C;
}
.reveal blockquote:before {
  color: #7ccce5;
}
.reveal .svgicon {
  stroke: #7ccce5;
}
.reveal pre {
  border: 1px solid #CCC;
}
.reveal .inverted pre {
  background-color: #282C34;
}
/* Blockquote */
.reveal blockquote {
  border-left-color: #7ccce5;
}
.reveal blockquote:before {
  color: #7ccce5;
}
.reveal .inverted blockquote {
  border-left-color: #fff;
}
/* table */
table td,
th,
thead {
  border: 1px solid #7ccce5 !important;
}
.inverted table td,
.inverted th,
.inverted thead {
  border: 1px solid #fff !important;
}
thead {
  background-color: rgba(0, 0, 0, 0.3);
}
tr:nth-child(even) > td {
  background: rgba(0, 0, 0, 0.1);
}
tr > td {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  color: #5E696C;
}
.inverted tr > td {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  color: #fff;
}
th {
  background-color: #7ccce5;
  color: #fff;
}
.inverted th {
  background-color: #fff;
  color: #7ccce5;
}
.inverted strong {
  color: #666;
}
.split .slidenumber {
  color: #fff;
}
